name: Deploy to Google Cloud

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Create .env file locally
      run: echo "${{ secrets.ENV_FILE }}" > .env

    - name: Copy files to Server
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.GCP_HOST }}
        username: ${{ secrets.GCP_USERNAME }}
        key: ${{ secrets.GCP_SSH_KEY }}
        source: ".,.env"
        target: "~/medmitra"

    - name: Deploy on Server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.GCP_HOST }}
        username: ${{ secrets.GCP_USERNAME }}
        key: ${{ secrets.GCP_SSH_KEY }}
        script: |
          export PATH=$PATH:/usr/local/bin
          cd ~/medmitra
          sudo docker ps -a -q --filter name=medmitra | xargs -r sudo docker rm -f || true
          sudo docker-compose -f docker-compose.prod.yml up --build -d
          sudo docker ps
